.slider-container {
    position: relative;
    width: 100%; /* Set the width of the slider container */
    height: 500px; /* Set the height of the slider container */
  }
  
  .slider-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set the width of the images to fill the container */
    height: 100%; /* Set the height of the images to fill the container */
    object-fit: cover; /* Maintain the aspect ratio of the images */
    transition: opacity 0.5s ease; /* Add transition effect for smoother image transitions */
  }
  
  .slider-container img:not(:first-child) {
    opacity: 0; /* Hide all images except the first one */
  }
  