a{   
    text-decoration: none;  
    color:black; 
    padding-inline: 10px; 
    font-size: x-large;
    font-weight: bolder;  
    
    
}    

a:hover{ 
      color: orange !important;
}      


